@font-face {
    font-family: 'avantdemi';
    src: url('/pfau/static/src/fonts/avantgarde.ttf') format('truetype'); // Safari, Android, iOS
    font-weight: normal;
}
.quotation-page{
    padding-left: 55px;
    padding-right: 40px;
    font-size: 10px;
}
.title{
   
}
.title_source_div {
    text-align: right;
    margin-bottom: 10px;
}
.title_source{
    font-size: 15px;
    
}

.header-logo-image {
    margin-top: 50mm;
    text-align: center;
    margin-left: 55rem;  
    z-index: 1000;
    padding-right: 10px;
}
.note_block{
    padding-top: 40px;
}
.footer-size{
    font-family: 'avantdemi';
    font-size: 10px;
    line-height: 100%;
    


}
.footer-smallersize{
    font-family: 'avantdemi';
    font-size: 9px;
    line-height: 100%;

}